---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Audio Review | KepalaKubik">
    <header class="text-white h-50 bg-primary bg-[auto_83px] overflow-hidden">
        <div class="p-2 flex text-center flex-col justify-center items-center relative w-full h-full max-w-7xl mx-auto">
            <a href=".." aria-label="Kembali">
                <i class="fa-solid fa-arrow-left text-3xl absolute left-2 top-1"></i>
            </a>

            <h1 class="uppercase text-3xl sm:text-4xl font-bold">
                <i class="fa-solid fa-headphones-simple mr-3"></i>Audio Review
            </h1>
            <span class="mt-1 leading-tight sm:text-lg">Karena headset konter tidak membuatmu <br class="hidden sm:block">menikmati musik seperti yang seharusnya.</span>
        </div>
    </header>

    <main class="max-w-7xl mx-auto px-3 pt-4">
        <div class="grid grid-cols-1 md:grid-cols-2">

        </div>
    </main>
</Layout>