@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "tailwindcss";

body, html {
    min-height: 100%;
    height: auto;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}