---
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout>
    <main class="w-full flex flex-col items-center justify-center dark:text-neutral-50 opacity-30 text-9xl font-bold" style="height: 450px;">
        404
    </main>
</MainGridLayout>