---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="w-full h-screen flex flex-col items-center justify-center p-3">
        <h2 class="text-2xl text-center mb-3">
            404 Not Found
            <br>
            But hey! Enjoy this cute cat picture!
        </h2>
        <a href="/">
            <img src="https://cataas.com/cat?type=small" alt="Cute Cat" width="300" class="rounded-md">
        </a>
    </main>
</Layout>