---
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';
import Section from "../components/Section.astro"
---

<Layout>
<Home>
    <Section>
        <h3 class="text-3xl font-semibold mb-3">Blog</h3>

        
    </Section>        
</Home>
</Layout>