---
import { Icon } from "astro-icon/components";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout>
    <div class="flex flex-col gap-y-4 w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <section class="prose dark:prose-invert prose-base !max-w-none custom-md">
                <h1 id="keahlian">
                    <Icon class="text-4xl inline-block align-text-bottom" name="material-symbols:japanese-flag-outline-rounded"></Icon> AniPol | Animanga Polewali Community
                    <a class="anchor" href="#anipol">
                        <span class="anchor-icon" data-pagefind-ignore="">#</span>
                    </a>
                </h1>
                
                <ul>
                    <li>Didirikan: Februari 2026</li>
                    <li>Lokasi: Polewali Mandar</li>
                    <li>Sebagai: Founder & Ketua</li>
                </ul>
                
                <p>
                    Yahoo, kawanime sekalian! 👋
                    <br>
                    Selamat datang di Animanga Polewali Community! Sebuah komunitas yang mewadahi para pecinta animanga serta berbagai budaya pop Jepang lainnya di seluruh Sulawesi Barat.
                </p>
            </section>
        </div>
        
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <section class="prose dark:prose-invert prose-base !max-w-none custom-md">
                <h1 id="keahlian">
                    <Icon class="text-4xl inline-block align-text-bottom" name="material-symbols:menu-book-outline-rounded"></Icon> Tomaka Book Club
                    <a class="anchor" href="#tbc">
                        <span class="anchor-icon" data-pagefind-ignore="">#</span>
                    </a>
                </h1>
                
                <ul>
                    <li>Didirikan: Februari 2024</li>
                    <li>Lokasi: Polewali Mandar</li>
                    <li>Sebagai: Divisi Creative</li>
                </ul>
                
                <p>
                    Tomaka Book Club adalah komunitas literasi yang menjadi ruang aman bagi para pembelajar,
                    pembaca, atau siapa saja yang tertarik pada dunia literasi. Baik anak-anak, pemuda,
                    hingga dewasa bisa menjadi bagian dari Tomaka Book Club. Gendre buku apapun diterima di komunitas ini,
                    tidak ada diskriminasi dalam tema bacaan.
                </p>
            </section>
        </div>
    </div>
</MainGridLayout>