<div class="mx-auto mb-3 border-t border-dashed" style="width: 70%;"></div>
<footer class="text-center text-xs">
    &copy;2025 Ryan | Licensed under <a href="https://opensource.org/licenses/MIT" class="underline" target="_blank" rel="noopener noreferrer">MIT License</a>
</footer>